<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>University adding form</h3>

<p th:if="${addInfo}">University
    <span  th:text="${addInfo}" style="color:red"></span>
    added
</p>

<form method="post" th:action="@{/university/add}" th:object="${university}">
    <label>University name <input th:field="*{universityName}" type="text"></label>
    <p><input type="submit" value="Add"></p>
</form>

<p><a href="/">Main</a></p>

</body>
</html>